<h1 align="center">
   THESE ARE CREATIONS!!!!!
</h1>
<div class="center">
  <%= will_paginate %>
</div>
<ul class="listing">
  <%= render 'article', obj: @articles %>
</ul>
<div class="center">
  <%= will_paginate %>
</div>
