<h1>
  This is the ABOUT page of ALPHA_BLOG, the test site for my crazy social media project.  Where you learn ABOUT this site.  
  Here's what you need to know: This site was made by someone who has........issues.  So it will take some time before it makes any sense.
</h1>

<%= link_to 'Home', root_path %>