<!DOCTYPE html>
<html>
<head>
  <link rel="styles" href="styles.css">
<style>
* {
 box-sizing: border-box;
}
.menu {
  float: left;
  width: 20%;
}
.menuitem {
  padding: 8px;
  margin-top: 7px;
  border-bottom: 1px solid #f1f1f1;
}
.main {
  float: left;
  width: 60%;
  padding: 0 20px;
  overflow: hidden;
  font-family: Helvetica;
}
.right_top  {
  height: 30vh;
  width: 20%;
  top: 0px;
  right: 0px;
  padding: 10px 15px;
  margin-top: 7px;
  position: relative;
  float: right;
}
.right_top_image  {
  height: 30vh;
  width: 100%;
  top: 0px;
  right: 0px;
  padding: 1px 1px;
  margin-top: 7px;
  position: relative;
  float: right;
}
.right_middle {
  height: 30vh;
  width: 20%;
  top: 0px;
  right: 0px;
  margin-top: 7px;
  padding: 10px 15px;
  position: relative;
  float: right;
}
.right_middle_image {
  object-fit: cover;
  height: 30vh;
  width: 100%;
  top: 0px;
  right: 0px;
  margin-top: 7px;
  position: relative;
  float: right;
}
.right_middle_headline {
  position: absolute;
  float: right;
  color: rgb(255,231,13);
}
.right_bottom {
  height: 30vh;
  width: 20%;
  top: 0px;
  right: 0px;
  margin-top: 7px;
  padding: 10px 15px;
  position: relative;
  float: right;
}
.news_tagline_right {
  position: absolute;
  float: right;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}
.background_image {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
.background_image:hover {
  opacity: 50;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
.newslink {
  background-color: gray;
  color: #fff;
  display: inline;
  padding: 0.5rem;

  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
h2 span {
  color: gray;
  font: bold Helvetica;
  letter-spacing: -1px;
  background: rgb(0,0,0); /* fallback color*/
  background: rgba(0,0,0,0.7);
  padding: 15.5px;

}
h3 span {
  color: gray;
  font: bold Helvetica;
  letter-spacing: -1px;
  background: rgb(0,0,0); /* fallback color*/
  background: rgba(0,0,0,0.7);
  padding: 15.5px;

}
@media (min-width:1300px) {
  /* For desktop*/
  .main, .menu {
    height: 100vh;
    }
  .right, .right_middle, .right_bottom {
    height: 30vh;
  }
}

@media only screen and (max-width:800px) {
  /* For tablets: */  
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /*For mobile phones: */
  .menu, .main, .right {
    width: 100%
  }
}
</style>
</head>
<body>

<div style="background-color:#f1f1f1;padding:15px;">
  <h1 style="text-align:center;">The Human Element</h1>
</div>

<div style="overflow:auto">
  <div class="menu">
    <div class="menuitem" style="font-family:helvetica;">The Pictures</div>
    <div class="menuitem" style="font-family:helvetica;">The Person</div>
    <div class="menuitem" style="font-family:helvetica;">The Projects</div>
  </div>

  <div class="main">
    <h2 style="text-align:center;">The Why</h2>
    <p>Do you see that guy down there? OF course you do. You can't help it, your brain directed your gaze there immediately. It's shcking to see, someone violating the social order so abruptly.  Do you think he cares what you think?  Do you think he lives his life without fear of judgement?  Do you think he comes and goes as he pleases, when he pleases, how he pleases?  Juding by his current attire, one would assume so.  Some might observe his casual attitude akin to a child playing a game.  As if when he wakes in the morning, it is as if he has logged into his own RPG and filled the role of his character.
    <br>
    <p>Maybe he is playing games?  It is often remarked that the rich and powerful play games of various scales.  This may be true, but it is also true that they are not alone.  Everyone plays games with reality in some format.  Some formats are more extreme than others.</p>
    <br>
    <p>One might have encountered the common idiom "child's play" from time to time.  This is very telling.  While we consider most (if not all) actions of a child as "play", we also consider them liberated beings.  Free from pain, stress, fear, depression, and the plethora of other mental ailments that plaugue modern adults.  We consider their lives to be simple and full of the joys of exploration, living every day as if it is a new adventure.</p>
    <br>
    <p>The lives of children (in adult minds at least) are full of play.  In many ways this is true.  While we typically consider play to be a meaningless endeavour, play is vital to development of the human mind.  As adults, we often forget how to play.  Do you think The Naked Cowboy forgot how to play?</p>
    <br>
    <p>This is a place for people to play. A place for the inner child to reveal itself.  It's time to play dress up.  Put on a mask!  Wear a costume!  Each profile is a place for your alter ego to play!</p>
    <img src="images/nyc-naked-cowboy.jpg" title="This is an Image of the infamous NYC Naked Cowboy in his natural element on a NYC street"
  style="width:80%">
  </div>

  <div style="background-image: url(assets/images/DancingRobot.jpg); background-size:cover;" title="Dacing Robot SF" class="right_top background_image">
      <h2><span class="solid"><a href="https://www.sfgate.com/entertainment/article/robot-dance-party-dolores-park-14826272.php" target="_blank_" style="font-size: 50px; newslink" title="Dancing Robot SF Gate: https://www.sfgate.com/entertainment/article/robot-dance-party-dolores-park-14826272.php">DANCING ROBOT!!</a></span></h2>
      <br>
      <br>
      <p class="news_tagline_right" style=color:rgb(204,0,0);>H8TRS GNA H8!!!!!</p>
    
  </div>

  <div class="right_middle">
    <img src="naked-cowboy-hug-492x502.jpg" alt="Naked Cowboy Hugging Lady" class="right_middle_image background_image" title="Naked Cowboy Hugging Lady">
    <h2><span class="right_middle_headline"><a href="https://roadtrippers.com/magazine/naked-cowboy-nyc/" style="color:yellow" target="_blank_" font-size="50px; newslink" title="The Naked Cowboy Exposed: A day in the life of Time's Square's most famous one man show">THE NAKED COWBOY IN 2019!!!</a></span></p>
      <h3><span class="news_tagline_right" font-size="newslink" style=color:rgb(204,0,0)>FRUIT OF THE LOOOOOM!!!</span></h3>
  </div>

  <div class="right_middle background_image">
    <h2>THIRD LINK</h2>
    <p>SHOULD BE ABOUT A CHARCTER ALSO!</p>
  </div>

</div>

<div style="background-color:#f1f1f1;text-align:center;padding:10px;margin-top:7px;font-size:12px;">This web page was made by a crazy person.  Please enjoy the CRAZY!!!!!!!</div>

</body>
</html>