
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.inline {
  display: inline-block;
}

.jumbotron {
  background-image: asset-url('DancingRobot.jpg');
  background-size: cover;
  height: 850px;
  opacity: 70%;
}

.jumbotron h1 {
  color: black;
  text-align: center;
  margin-bottom: 300px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 2.7em;
  background-color: black;
}

.article-index {
  align: center;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}


.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
  font-size: 11px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
  color: #009900;  
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.article-actions {
  border-bottom: 50px solid #ffffff;
}

.listing {
  list-style: none;
  padding-left: 0;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  }

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.article_form {
  width: 980px;
  margin-left: 20%;
  margin-right: 25%;
}

.panel {
  style: panel;
}