<h1 align="center">
  All Categories
</h1>
<div class="center">
  <div class="inline">
    <%= will_paginate %>
  </div>
</div>
<% @categories.each do |category| %>
  <ul class="listing">
    <div class="center" >
          <%= link_to "#{category.name}", category_path(category) %>
    </div>
    <li class="center"><small><%= pluralize(category.articles.count, "article") %></small></li>
  </ul>
<% end %>
<div class="center">
  <div class="inline">
  <%= will_paginate %>
  </div>
</div>